.container {
    padding: 0 8rem;
}

.learning {
    padding: 0.5rem 0;
}

.learning__heading {
    display: flex;
    padding: 2rem 0;
    justify-content: space-between;
}

.learning__heading h3 {
    align-content: center;
    padding: 1rem 0.5rem;
    text-decoration: underline;
    color: var(--primary-violet);
}

.learning__heading h3:hover {
    background-color: var(--primary-background);
}

.learning__courses {
    display: flex;
    justify-content: space-between;
}

.course__card {
    height: 10rem;
    display: flex;
}

.course__card img {
    width: 7.5rem;
}

.course__details {
    width: 17rem;
    padding: 1rem;
    border: 1px solid lightgray;
    border-left: none;
}

.course__details:hover {
    background-color: var(--primary-light-background);
}

.course__details p {
    margin-top: 4rem;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.popular,
.feature {
    padding: 40px 0 20px;
}

.popular h1,
.feature h1 {
    margin: 16px 0;
}

.popular__container,
.feature__container {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;

}

.popular__card,
.feature__card {
    width: 15rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 2px;
    flex-basis: 1 0 18%;
}

.popular__card img,
.feature__card img {
    width: 100%;
}

.popular__card p,
.feature__card p {
    font-weight: 100;
    font-size: small;
}

.gap {
    padding: 2px 0;
    gap: 8px;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.recommend {
    padding: 2rem 0;
    list-style: none;
}

.recommend__course {
    display: flex;
    flex-wrap: wrap;
    margin-top: 16px;
    gap: 16px;
}

.recommend__course li {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: medium;

    border: 1px solid var(--primary-grey);
    flex: 1 0 18%;
    padding: 16px;
}

.recommend__course li:hover {
    cursor: pointer;
    background-color: var(--primary-light-background);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.footer {
    padding: 20px 0;
    background-color: #202230;
    color: white;
    font-weight: 100;
    justify-content: space-between;
}