@font-face {
    font-family: 'Udemy Sans';
    src: url('../Assets/Fonts/Udemy-Sans-Light.woff2') format('woff2');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Udemy Sans';
    src: url('../Assets/Fonts/Udemy-Sans-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Udemy Sans';
    src: url('../Assets/Fonts/Udemy-Sans-Medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Udemy Sans';
    src: url('../Assets/Fonts/Udemy-Sans-Bold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
}