:root {
    --primary-grey: #9194AC;
    --primary-violet: #892DE1;
    --primary-background: #EDE5FA;
    --primary-light-background: #F6F7F9;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

html,
body {
    width: 100vw;
    height: 100vh;
    font-family: 'Udemy Sans', sans-serif;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.align-center {
    display: flex;
    align-items: center;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 600;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.navbar {
    width: 100%;
    height: 4.5rem;

    gap: 1.25rem;
    padding: 0 1.5rem;
    border-bottom: 1px solid lightgrey;
}

.navbar__search {
    width: 40%;
    height: 3rem;
    padding: 0 0.25rem;

    gap: 0.5rem;
    margin-left: 0.25rem;

    border: 1px solid var(--primary-grey);
    border-radius: 2rem;
}

.navbar__search:focus-within {
    border: 2px solid var(--primary-violet);
}

.material-icons,
.material-symbols-outlined {
    font-weight: 100;
    color: var(--primary-grey);
    font-size: 1.25rem !important;
}

.navbar__search input {
    width: 90%;
    border: none;
    outline: none;
    padding: 0px 0.25rem;
    font-size: small;
    font-weight: 100;
    background-color: transparent;
}

.navbar__search input::placeholder {
    font-weight: 100;
}

.navbar__links {
    font-size: small;
    font-weight: 100;
    list-style: none;
}

.navbar__links li {
    text-align: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
}

.navbar__links li:hover {
    cursor: pointer;
    background-color: var(--primary-background);
}

.navbar__icons .material-symbols-outlined {
    font-weight: 100;
    color: darkslategrey;
    border-radius: 0.25rem;
    padding: 0.5rem;
}

.navbar__icons .material-symbols-outlined:hover {
    cursor: pointer;
    background-color: var(--primary-background);
}

.navbar__profile {
    width: 2.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 2.5rem;

    color: white;
    font-weight: bold;
    background-color: black;
}

.category {
    height: 3rem;
    list-style: none;
    padding: 0 10%;

    gap: 2%;
    font-weight: 100;
    font-size: small;
    justify-content: center;
    border-bottom: 1px solid lightgrey
}

.category li:hover {
    color: #7622C4;
    cursor: pointer;
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.header {
    width: 100%;
    height: 8rem;
    gap: 1.5rem;
    padding: 2rem 8rem;
    font-weight: bold;
    font-size: 1.5rem;
}

.header__profile {
    width: 4rem;
    height: 4rem;
    border-radius: 100%;

    color: white;
    font-size: x-large;
    font-weight: bold;
    background-color: black;
}

.header__text {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.header__text__occupation {
    font-weight: 100;
    font-size: small;
}

.header__text__occupation a {
    margin-left: 0.5rem;
    padding: 0.25rem 0.5rem;
    color: var(--primary-violet);
}

.header__text__occupation a:hover {
    background-color: var(--primary-background);
}

/* -------------------------------------------------------------------------------------------------------------------------- */

.slide {
    position: relative;
    width: 100%;
    height: 25rem;
    padding: 0 6rem;
}

.slide__background {
    width: 100%;
    height: 100%;
    justify-content: space-between;
    background-image: url("../Assets/Background_Image.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    transition: background-image 800ms ease-in-out;
}

.slide__banner {
    width: 28rem;
    flex-shrink: 1;
    box-shadow: -1px -1px 5px rgba(0, 0, 0, 0.25);
    margin: 0 4.5rem;
    margin-bottom: 3rem;
    padding: 1.5rem;
    border-radius: 0.5rem;
    background-color: white;
}

.slide__banner p {
    margin: 1rem 0;
    font-weight: 100;
}

.slide__banner button {
    padding: 0.75rem;
    background-color: var(--primary-violet);

    color: white;
    font-size: medium;
    font-weight: bold;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}

.slide__toggle {
    position: relative;
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 2rem;
    margin-right: 2rem;
}

.slide__toggle__button,
.chevron_right {
    width: 2rem;
    height: 2rem;
    border: none;
    border-radius: 100%;
}

.slide__toggle__button {
    position: absolute;
    z-index: 1;
    right: 8rem;
    cursor: pointer;
    appearance: none;
}

.chevron_right {
    position: absolute;
    z-index: 0;
    background-color: white;
    font-size: 2rem !important;
}

.slide__toggle__button:hover+.chevron_right {
    background-color: var(--primary-light-background);
}

.slide__toggle__button:checked~.slide__background {
    background-image: url("../Assets/Skills_Background.png");
}

/* -------------------------------------------------------------------------------------------------------------------------- */

/* Media Queries */

@media screen and (max-width: 1024px) {

    .navbar p,
    .navbar__links {
        display: none;
    }

    .navbar__search {
        width: 60%;
    }

    .category {
        display: none;
    }

    .slide__banner {
        margin: 0;
        min-width: 100%;
        margin-top: 32%;
    }

    .slide__toggle,
    .slide__toggle__button {
        display: none;
    }

    .learning__courses {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1rem;
    }

    .course__card {
        height: 12.5rem;
    }

    .course__card img {
        width: 9.5rem !important;
    }

    .course__details {
        width: 20rem !important;
    }

    .popular__card,
    .feature__card {
        max-width: 18rem !important;
    }

    .recommend__course li {
        font-size: small !important;
        flex: 1 0 25% !important;
    }

    .footer {
        font-size: medium;
    }

    .footer__logo.align-center {
        padding: 0 !important;
    }
}

@media screen and (max-width: 540px) {

    .navbar {
        height: 3.5rem;
        justify-content: right;
    }

    .navbar__profile {
        display: none;
    }

    .navbar__search {
        padding-left: 2.5rem;
        width: fit-content;
        justify-content: right;
        border: none;
    }

    .navbar__search input {
        display: none;
    }

    .material-symbols-outlined.favorite,
    .material-symbols-outlined.notifications {
        display: none;
    }

    .header {
        height: 6rem;
        justify-content: center;
        padding: 1rem;
    }

    .header__profile {
        width: 3rem;
        height: 3rem;
        font-size: large;
    }

    .header__text {
        font-size: large;
        gap: 0.5rem;
    }

    .header__text__occupation a {
        margin-left: 0.25px;
        font-size: smaller;
        padding: 0.25rem;
    }

    .slide {
        padding: 1rem;
        height: 20rem;
        font-size: medium;
    }

    .slide h1 {
        font-size: larger;
    }

    .slide__banner {
        height: 10rem;
        padding: 1rem;
        padding-bottom: 0 !important;
    }

    .slide__banner button {
        margin-left: 0.75rem;
        font-weight: 400;
        font-size: small;
        padding: 0.5rem;
    }

    .container {
        padding: 0 1rem !important;
    }

    .learning__courses {
        padding-top: 1rem;
    }

    .learning__heading {
        width: 100%;
        font-size: small !important;
        padding: 0 !important;
        justify-content: space-between;
    }

    .course__card img {
        width: 7.5rem !important;
    }

    .course__details {
        font-size: small;
        width: 15rem !important;
    }

    .popular,
    .feature {
        padding-top: 0.5rem !important;
    }

    .popular__container,
    .feature__container {
        justify-content: space-between;
    }

    .popular__card,
    .feature__card {
        width: 10.5rem !important;
        font-size: small;
    }

    .recommend {
        padding-top: 0.5rem !important;
    }

    .source {
        padding: 0 0.25rem;
    }

    .source__about,
    .source__discover,
    .source__business,
    .source__accessibility {
        padding: 1rem 0.25 !important;
    }

    .source__about h3,
    .source__discover h3,
    .source__business h3,
    .source__accessibility h3 {
        padding: 0.5rem;
        font-size: small;
        font-weight: 400;
    }

    .source__about ul li,
    .source__discover ul li,
    .source__business ul li,
    .source__accessibility ul li {
        font-size: x-small;
        padding: 0.25rem 0.25rem !important;
    }

    .footer {
        padding: 1rem !important;
        font-size: smaller;
        justify-content: space-around;
    }

    .footer__logo.align-center {
        text-align: center;
        padding: 0 !important;
    }

    .footer__cookie {
        text-align: center;
        width: 5rem !important;
        margin-right: 0 !important;
        font-size: small !important;
    }

}